* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*=== hiding ===*/
.hide {
  display: none;
}

/* ============================== */
/* ===== ADD RECORD WRAPPER ===== */
/* ============================== */
#addRecordWrapper {
  width: 100%;
  height: 90%;
  overflow-x: hidden;
}
/* === FORM DIVISION === */
#formDivision {
  width: 100%;
  padding: 5px;
}
#formRecord {
  height: 90%;
  width: 100%;
  overflow-x: hidden;
}
/*=== modal box ===*/
.modal-box-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0;
}
.modal-box {
  width: 90%;
  height: 90%;
  background-color: white;
}
.modal-box-head {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-box-head h2 {
  margin: 0;
}
.modal-box-body {
  width: 90%;
  height: 80%;
  border: 1px solid rgba(0,0,0,0.3);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-box-content {
  width: 100%;
  height: 100%;
}
#newForm {
  width: 100%;
  height: 70%;
  text-align: center;
  padding-top: 50px;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}
.modal-box-p {
  margin: 0;
}
.modal-box-status {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* === REALTIME OUTPUT === */
#realtimeOutputDivision {
  width: 100%;
  padding: 5px;
}
table {
  border: 1px solid black;
  width: 100%;
}
th:first-of-type {
  border-right: 1px solid black;
}
td {
  border-top: 1px solid black;
  width: 50%;
}
td.table-key {
  border-right: 1px solid black;
}
td.table-val {
  color: red;
}

/* === SUBMIT BTN DIVISION === */
#submitBtnDivision {
  width: 100%;
}

/* ===================================== */
/* ===== END OF ADD RECORD WRAPPER ===== */
/* ===================================== */